@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.view {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

.message-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}
